@charset "utf-8";

/* Noto Sans Japanese */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* Hannari */
@import url('https://fonts.googleapis.com/earlyaccess/hannari.css');

/* Black Ops One */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Noto+Sans+JP:wght@100..900&display=swap');

/* ▼header▼ */
header {
    width: 200px;
    height: 100%;
    font-family: "Black Ops One", system-ui;
    position: fixed;
    border: solid;
    background-color: #fff;
}

.siteName {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid;
}

.siteName h1 {
    font-size: 30px;
}

.siteName h2 {
    font-size: 25px;
    text-align: right;
}

.headerMenu li {
    font-size: 25px;
    padding: 20px;
}
/* ▲header▲ */

/* ▼body▼ */
body{
    cursor: url("../image/icon/cursor.png"), auto;
}
/* ▲body▲ */

/* ▼footer▼ */
footer {
    width: 100%;
    font-family: "Black Ops One", system-ui;
    padding: 0 0 0 200px;
}

.footerMenu {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 40px 20px;
}

.footerMenu li {
    font-size: 20px;
    margin: 0 20px;
}

.snsMenu {
    display: flex;
    justify-content: end;
    font-size: 30px;
    margin: 0 20px 0 0;
}

.snsMenu a {
    margin: 0 20px 40px 20px;
}
/* ▲footer▲ */

/* ▼laptopザイン▼ */
@media (1130px <= width <= 1350px) {

}

@media (990px <= width <= 1130px) {

}

@media (834px <= width <= 990px) {

}
/* ▲laptopザイン▲ */

/* ▼tabletザイン▼ */
@media (700px <= width <= 834px) {

}

@media (620px <= width <= 700px) {

}

@media (550px <= width <= 620px) {
    /* ▼header▼ */
    header {
        display: none;
    }

    .siteName {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: solid;
    }

    .siteName h1 {
        font-size: 30px;
    }

    .siteName h2 {
        font-size: 25px;
        text-align: right;
    }

    .headerMenu li {
        font-size: 25px;
        padding: 20px;
    }
    /* ▲header▲ */

    /* ▼footer▼ */
    footer {
        width: 100%;
        font-family: "Black Ops One", system-ui;
        padding: 0 0 0 0;
    }

    .footerMenu {
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0 40px 20px;
    }

    .footerMenu li {
        font-size: 20px;
        margin: 0 20px;
    }

    .snsMenu {
        display: flex;
        justify-content: end;
        font-size: 30px;
        margin: 0 20px 0 0;
    }

    .snsMenu a {
        margin: 0 20px 40px 20px;
    }
    /* ▲footer▲ */
}

@media (414px <= width <= 550px) {
    /* ▼header▼ */
    header {
        display: none;
    }

    .siteName {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: solid;
    }

    .siteName h1 {
        font-size: 30px;
    }

    .siteName h2 {
        font-size: 25px;
        text-align: right;
    }

    .headerMenu li {
        font-size: 25px;
        padding: 20px;
    }
    /* ▲header▲ */

    /* ▼footer▼ */
    footer {
        width: 100%;
        font-family: "Black Ops One", system-ui;
        padding: 0 0 0 0;
    }

    .footerMenu {
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0 40px 20px;
    }

    .footerMenu li {
        font-size: 20px;
        margin: 0 20px;
    }

    .snsMenu {
        display: flex;
        justify-content: end;
        font-size: 30px;
        margin: 0 20px 0 0;
    }

    .snsMenu a {
        margin: 0 20px 40px 20px;
    }
    /* ▲footer▲ */
}
/* ▲tabletデザイン▲ */

/* ▼phoneザイン▼ */
@media (max-width: 414px) {
    /* ▼header▼ */
    header {
        display: none;
    }

    .siteName {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: solid;
    }

    .siteName h1 {
        font-size: 30px;
    }

    .siteName h2 {
        font-size: 25px;
        text-align: right;
    }

    .headerMenu li {
        font-size: 25px;
        padding: 20px;
    }
    /* ▲header▲ */

    /* ▼footer▼ */
    footer {
        width: 100%;
        font-family: "Black Ops One", system-ui;
        padding: 0 0 0 0;
    }

    .footerMenu {
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0 40px 20px;
    }

    .footerMenu li {
        font-size: 20px;
        margin: 0 20px;
    }

    .snsMenu {
        display: flex;
        justify-content: end;
        font-size: 30px;
        margin: 0 20px 0 0;
    }

    .snsMenu a {
        margin: 0 20px 40px 20px;
    }
    /* ▲footer▲ */
}
/* ▲phoneデザイン▲ */