{% extends 'base.html' %}
{% block content %}

<div id="top" class="topArea">
    <video poster="" webkit-playsinline playsinline muted autoplay loop>
        <source src="{{ url_for('static', filename='video/movie1.mp4') }}" type="video/mp4">
        <p>動画を再生できる環境ではありません。</p>
    </video>
    <video poster="" webkit-playsinline playsinline muted autoplay loop>
        <source src="{{ url_for('static', filename='video/movie2.mp4') }}" type="video/mp4">
        <p>動画を再生できる環境ではありません。</p>
    </video>
    <video poster="" webkit-playsinline playsinline muted autoplay loop>
        <source src="{{ url_for('static', filename='video/movie3.mp4') }}" type="video/mp4">
        <p>動画を再生できる環境ではありません。</p>
    </video>
    <div class="overlayTitle">
        <h2>Kobayashi</h2>
        <h3>Portfolio Site</h3>
    </div>
</div>

<div id="works" class="worksArea">
    <div class="worksContainer">
        <div class="areaHead">
            <p class="englishTitle">Works</p>
            <p class="japaneseTitle">制作実績</p>
            <a href="{{ url_for('works_page') }}" class="areaLink">実績一覧 ></a>
        </div>

        <div class="sliderArea">
            <ul class="worksSliderTop">
                <li>
                    <a href="{{ url_for('works_page') }}/kankan">
                        <img src="{{ url_for('static', filename='image/kankan.png') }}"
                            alt="菅叶和｜かんかんな｜KanKanna｜kankanna｜かんかん｜KanKan｜kankan｜ファンサイト｜FanSite">
                        <div class="worksInfo">
                            <p class="worksTitle">FanSite - kankan</p>
                            <p class="worksDescription">女性声優として活躍されている菅叶和さんのファンサイトのデザイン、コーディングをさせていただきました。</p>
                        </div>
                        <div class="worksTag">
                            <p>自主制作</p>
                            <p>ファンサイト</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- <img src="" alt="">
                        <div class="worksInfo">
                            <p class="worksTitle"></p>
                            <p class="worksDescription"></p>
                        </div>
                        <div class="worksTag">
                            <p></p>
                            <p></p>
                        </div> -->
                    </a>
                </li>
                <li>
                    <!-- <a href="#">
                        <img src="" alt="">
                        <div class="worksInfo">
                            <p class="worksTitle"></p>
                            <p class="worksDescription"></p>
                        </div>
                        <div class="worksTag">
                            <p></p>
                            <p></p>
                        </div>
                    </a> -->
                </li>
                <li>
                    <a href="#">
                        <!-- <img src="" alt="">
                        <div class="worksInfo">
                            <p class="worksTitle"></p>
                            <p class="worksDescription"></p>
                        </div>
                        <div class="worksTag">
                            <p></p>
                            <p></p>
                        </div> -->
                    </a>
                </li>
                <li>
                    <!-- <a href="#">
                        <img src="" alt="">
                        <div class="worksInfo">
                            <p class="worksTitle"></p>
                            <p class="worksDescription"></p>
                        </div>
                        <div class="worksTag">
                            <p></p>
                            <p></p>
                        </div>
                    </a> -->
                </li>
            </ul>

            <ul class="worksSliderBottom" dir="rtl">
                <li>
                    <!-- <a href="#">
                        <img src="" alt="">
                        <div class="worksInfo">
                            <p class="worksTitle"></p>
                            <p class="worksDescription"></p>
                        </div>
                        <div class="worksTag">
                            <p></p>
                            <p></p>
                        </div>
                    </a> -->
                </li>
                <li>
                    <!-- <a href="#">
                        <img src="" alt="">
                        <div class="worksInfo">
                            <p class="worksTitle"></p>
                            <p class="worksDescription"></p>
                        </div>
                        <div class="worksTag">
                            <p></p>
                            <p></p>
                        </div>
                    </a> -->
                </li>
                <li>
                    <!-- <a href="#">
                        <img src="" alt="">
                        <div class="worksInfo">
                            <p class="worksTitle"></p>
                            <p class="worksDescription"></p>
                        </div>
                        <div class="worksTag">
                            <p></p>
                            <p></p>
                        </div>
                    </a> -->
                </li>
                <li>
                    <!-- <a href="#">
                        <img src="" alt="">
                        <div class="worksInfo">
                            <p class="worksTitle"></p>
                            <p class="worksDescription"></p>
                        </div>
                        <div class="worksTag">
                            <p></p>
                            <p></p>
                        </div>
                    </a> -->
                </li>
                <li>
                    <!-- <a href="#">
                        <img src="" alt="">
                        <div class="worksInfo">
                            <p class="worksTitle"></p>
                            <p class="worksDescription"></p>
                        </div>
                        <div class="worksTag">
                            <p></p>
                            <p></p>
                        </div>
                    </a> -->
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="about" class="aboutArea">
    <div class="aboutContainer">
        <div class="areaHead">
            <p class="englishTitle">About</p>
            <p class="japaneseTitle">こばやし</p>
        </div>

        <div class="aboutImage">
            <ul class="slider clickSlide">
                <li>
                    <img src="{{ url_for('static', filename='image/face-sample1.png') }}" alt="こばやし｜UIデザイン｜UXデザイン｜Web制作｜システム開発｜自動化">
                </li>
                <li>
                    <img src="{{ url_for('static', filename='image/face-sample2.png') }}" alt="こばやし｜UIデザイン｜UXデザイン｜Web制作｜システム開発｜自動化">
                </li>
                <li>
                    <img src="{{ url_for('static', filename='image/face-sample1.png') }}" alt="こばやし｜UIデザイン｜UXデザイン｜Web制作｜システム開発｜自動化">
                </li>
                <li>
                    <img src="{{ url_for('static', filename='image/face-sample2.png') }}" alt="こばやし｜UIデザイン｜UXデザイン｜Web制作｜システム開発｜自動化">
                </li>
                <li>
                    <img src="{{ url_for('static', filename='image/face-sample1.png') }}" alt="こばやし｜UIデザイン｜UXデザイン｜Web制作｜システム開発｜自動化">
                </li>
                <li>
                    <img src="{{ url_for('static', filename='image/face-sample2.png') }}" alt="こばやし｜UIデザイン｜UXデザイン｜Web制作｜システム開発｜自動化">
                </li>
            </ul>

        </div>

        <div class="aboutMe">
            <p>
                群馬県出身、東京都在住。<br>
                法定講習事業会社でスケジュール管理、SES企業でエンジニア経験を積みながら、現在フルスタックエンジニアとしてWeb業界を中心に活動しています。<br>
                <br>
                主に個人開発、受託開発を中心に取り組んでおり、個人開発ではニッチな層向けのwebアプリ／サービス開発を行っております。<br>
                現在公開停止になってしまっているサービスもありますが、修正を加え再度公開していけるよう調整を行っております。
            </p>
        </div>

        <div class="aboutBlock">
            <div class="aboutWrapper">
                <div class="aboutIntroduction">
                    <ul>
                        <li>
                            <span class="introductionTitle">名前</span>
                            <span>:</span>
                            <span class="introductionDescription">こばやし</span>
                        </li>
                        <li>
                            <span class="introductionTitle">愛称</span>
                            <span>:</span>
                            <span class="introductionDescription">しょーりん</span>
                        </li>
                        <li>
                            <span class="introductionTitle">出身</span>
                            <span>:</span>
                            <span class="introductionDescription">群馬</span>
                        </li>
                        <li>
                            <span class="introductionTitle">本籍地</span>
                            <span>:</span>
                            <span class="introductionDescription">群馬</span>
                        </li>
                        <li>
                            <span class="introductionTitle">在住</span>
                            <span>:</span>
                            <span class="introductionDescription">東京</span>
                        </li>
                        <li>
                            <span class="introductionTitle">誕生日</span>
                            <span>:</span>
                            <span class="introductionDescription">6/20</span>
                        </li>
                        <li>
                            <span class="introductionTitle">年齢</span>
                            <span>:</span>
                            <span class="introductionDescription">21歳</span> <!-- 自動算出 -->
                        </li>
                        <li>
                            <span class="introductionTitle">身長</span>
                            <span>:</span>
                            <span class="introductionDescription">171.6cm</span>
                        </li>
                        <li>
                            <span class="introductionTitle">趣味</span>
                            <span>:</span>
                            <span class="introductionDescription">キャンプ、スノボ、自動化</span>
                        </li>
                        <li>
                            <span class="introductionTitle">特技</span>
                            <span>:</span>
                            <span class="introductionDescription">デザイン作成</span>
                        </li>
                    </ul>

                    <div class="profileSNS">
                        <a href="#x-twitter" class="x-twitterLink"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-tiktok"></i></a>
                    </div>
                </div>

                <div class="aboutBiography">
                    <ul>
                        <li><span class="yearColumn">2003</span><span class="historyColumn">誕生</span></li>
                        <li><span class="yearColumn">2004</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2005</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2006</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2007</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2008</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2009</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2010</span><span class="historyColumn">小学校入学</span></li>
                        <li><span class="yearColumn">2011</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2012</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2013</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2014</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2015</span><span class="historyColumn">-</span></li>
                        <li>
                            <span class="yearColumn">2016</span>
                            <span class="historyColumn">
                                小学校卒業<br>
                                中学校入学
                            </span>
                        </li>
                        <li><span class="yearColumn">2017</span><span class="historyColumn">WinSchool入塾(Ai, Ps, HTML, CSS)</span></li>
                        <li><span class="yearColumn">2018</span><span class="historyColumn">-</span></li>
                        <li>
                            <span class="yearColumn">2019</span>
                            <span class="historyColumn">
                                中学校卒業<br>
                                高等学校入学
                            </span>
                        </li>
                        <li><span class="yearColumn">2020</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2021</span><span class="historyColumn">-</span></li>
                        <li>
                            <span class="yearColumn">2022</span>
                            <span class="historyColumn">
                                高等学校卒業<br>
                                一般企業入社
                            </span>
                        </li>
                        <li><span class="yearColumn">2023</span><span class="historyColumn">SES企業入社</span></li>
                        <li><span class="yearColumn">2024</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2025</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2026</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2027</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2028</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2029</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2030</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2031</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2032</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2033</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2034</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2035</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2036</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2037</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2038</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2039</span><span class="historyColumn">-</span></li>
                        <li><span class="yearColumn">2040</span><span class="historyColumn">-</span></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="skills" class="skillsArea">
    <div class="skillsContainer">
        <div class="areaHead">
            <p class="englishTitle">Skills</p>
            <p class="japaneseTitle">技能</p>
        </div>

        <div class="skillLists">
            <div class="skillList">
                <p class="skillTitle">Figma</p>
                <p class="skillDescript">
                    webサイト、LP、バナーなどのデザインカンプ作成可能
                </p>
            </div>
            <div class="skillList">
                <p class="skillTitle">HTML/CSS</p>
                <p class="skillDescript">静的／動的画面の作成可能</p>
            </div>
            <div class="skillList">
                <p class="skillTitle">JavaScript</p>
                <p class="skillDescript">Vanilla.js, DOM, jQuery 使用可能</p>
            </div>
            <div class="skillList">
                <p class="skillTitle">Python</p>
                <p class="skillDescript">フレームワーク（Flask）、ライブラリを用いたWebサイト／サービス開発可能</p>
            </div>
            <div class="skillList">
                <p class="skillTitle">Ruby</p>
                <p class="skillDescript">フレームワーク（Ruby on Rails）、ライブラリを用いたWeb／サービス開発可能</p>
            </div>
            <div class="skillList">
                <p class="skillTitle">Java</p>
                <p class="skillDescript">JDBCを使用した簡単なシステム開発可能</p>
            </div>
            <div class="skillList">
                <p class="skillTitle">Git</p>
                <p class="skillDescript">GitHubでのソースコードのバージョン管理</p>
            </div>
            <div class="skillList">
                <p class="skillTitle">SQL</p>
                <p class="skillDescript">MySQL, PostgreSQL, SQLite使用可能</p>
            </div>
            <div class="skillList">
                <p class="skillTitle">動画編集</p>
                <p class="skillDescript">要素の挿入、ノイズ除去、色補正等基本的作業可能</p>
            </div>
            <div class="skillList">
                <p class="skillTitle">ロゴ作成</p>
                <p class="skillDescript">個人／システム開発のロゴ作成可能</p>
            </div>
        </div>
    </div>
</div>

<div id="contact" class="contactArea">
    <div class="flashMessage">
    {% if success == None %}

    {% elif success %}
        <div class="successFlashMessage">
            <p>送信に成功しました。</p>
        </div>
    {% else %}
        <div class="failureFlashMessage">
            <p>送信に失敗しました。</p>
        </div>
    {% endif %}
    </div>
    <div class="contactContainer">
        <div class="areaHead">
            <p class="englishTitle">Contact</p>
            <p class="japaneseTitle">お問い合わせ</p>
        </div>

        <div class="contactForm">
            <form action="{{ url_for('index_page') }}" method="POST" id="contactForm">
                <label for="contactName">
                    お名前<span class="must">必須</span>
                    <input type="text" name="name" id="contactName" class="contactName" required>
                </label>
                <label for="contactMail">
                    メールアドレス<span class="must">必須</span>
                    <input type="email" name="email" id="contactMail" class="contactMail" required>
                </label>
                <label for="contactContent">
                    お問い合わせ内容<span class="must">必須</span>
                    <textarea name="content" id="contactContent" class="contactContent" required></textarea>
                </label>
                <a href="#privacy" class="privacyLink privacyUnderline">プライバシーポリシーを確認 ></a>
                <label for="privacyAgree" class="privacyAgreeBlock">
                    <input type="checkbox" name="agree" value="同意します" id="privacyAgree" class="privacyAgree" required>
                    プライバシーポリシーに同意する
                </label>
                <input type="submit" value="送信" id="contactSubmit" class="contactSubmit">
            </form>
        </div>
    </div>
</div>

{% endblock %}