{% extends 'deliverables_base.html' %}

{% block deliverablesImage %}
<img src="{{ url_for('static', filename='image/kankan.png') }}" alt="菅叶和｜かんかんな｜KanKanna｜kankanna｜かんかん｜KanKan｜kankan｜ファンサイト｜FanSite">
{% endblock %}

{% block deliverablesTitle %}
<h2 class="deliverablesTitle">kankan</h2>
{% endblock %}

{% block deliverablesTag %}
<p>自主制作</p>
<p>ファンサイトサイト</p>
{% endblock %}

{% block overviewBlockScope %}
<p>SiteDesign</p>
<p>GraphicDesign</p>
<p>Coding</p>
{% endblock %}

{% block overviewBlockClient %}
<p>-</p>
{% endblock %}

{% block overviewBlockSite %}
<a href="#">#</a>
{% endblock %}

{% block overviewBlockTechnology %}
<p>Figma</p>
<p>Python</p>
<p>Flask</p>
{% endblock %}

{% block explanation %}
<p>
    自身が好きな声優さんである「菅叶和」さんをより多くの方に知って頂けるよう、プロフィール等をまとめ、見やすいデザインを目指し、いちファンとして自身が行える布教活動は何かと考え、たどり着いたのが、こちらのファンサイトを作成することでした。<br>
    ファンサイトのため、その人を表すもので構成したいと考えたため、和紙テクスチャを使用して和風な雰囲気をモチーフにしたり、文字フォントを「はんなり明朝体」という和風なものを使用したりなどして、お名前にもある「和」、「茶道」の雰囲気、を再現しました。<br>
    菅叶和さんの魅力を最大限活かすため、X（旧Twitter）にご本人様より投稿されているお写真を拝借し、サイト内にちりばめることにより、魅力を引き出そうと試みました。<br>
    他にも、所属事務所である「俳協」様のHPに掲載されている、サンプルボイスをファンサイトでも簡単に再生できるよう、モーダルウィンドウで事務所HPのサンプルボイスページを表示し、再生することができるようにしました。<br>
    また、菅叶和さんは自身が所属するユニット「みらくらぱーく」のメンバーで行うWEBラジオ「みらくら待機室ラジオ」、「みらくら補修室ラジオ」、「みらくら準備室ラジオ」内で披露される、各方言での告白ボイスをファンサイト内で精査し、日本地図の都道府県ボタンを押下するとその地方の方言での告白ボイスを再生できるように工夫しました。
</p>
{% endblock %}