{% extends 'base.html' %}

{% block header %}
<div class="siteName">
    <a href="/index#top" id="topScroll">
        <h1>Kobayashi</h1>
        <h2>Portfolio Site</h2>
    </a>
</div>

<ul id="headerMenu" class="headerMenu">
    <li><a href="/index#top">Top</a></li>
    <li><a href="/index#works">Works</a></li>
    <li><a href="/index#about">About</a></li>
    <li><a href="/index#skills">Skills</a></li>
    <li><a href="/index#contact">Contact</a></li>
    <li><a href="#privacy" class="privacyLink">Praivacy</a></li>
</ul>
{% endblock %}

{% block footer %}
<ul id="footerMenu" class="footerMenu">
    <li><a href="/index#top">Top</a></li>
    <li><a href="/index#works">Works</a></li>
    <li><a href="/index#about">About</a></li>
    <li><a href="/index#skills">Skills</a></li>
    <li><a href="/index#contact">Contact</a></li>
    <li><a href="#privacy" class="privacyLink">Praivacy</a></li>
</ul>
{% endblock %}