{% extends 'base.html' %}

{% block header %}
<div class="siteName">
    <a href="{{ url_for('index_page') }}#top" id="topScroll">
        <h1>Kobayashi</h1>
        <h2>Portfolio Site</h2>
    </a>
</div>

<ul id="headerMenu" class="headerMenu">
    <li><a href="{{ url_for('index_page') }}#top">Top</a></li>
    <li><a href="{{ url_for('index_page') }}#works">Works</a></li>
    <li><a href="{{ url_for('index_page') }}#about">About</a></li>
    <li><a href="{{ url_for('index_page') }}#skills">Skills</a></li>
    <li><a href="{{ url_for('index_page') }}#contact">Contact</a></li>
    <li><a href="#privacy" class="privacyLink">Praivacy</a></li>
</ul>
{% endblock %}

{% block footer %}
<ul id="footerMenu" class="footerMenu">
    <li><a href="{{ url_for('index_page') }}#top">Top</a></li>
    <li><a href="{{ url_for('index_page') }}#works">Works</a></li>
    <li><a href="{{ url_for('index_page') }}#about">About</a></li>
    <li><a href="{{ url_for('index_page') }}#skills">Skills</a></li>
    <li><a href="{{ url_for('index_page') }}#contact">Contact</a></li>
    <li><a href="#privacy" class="privacyLink">Praivacy</a></li>
</ul>
{% endblock %}