{% extends 'other_base.html' %}
{% block content %}

<div id="works" class="worksArea">
    <div class="worksContainar">
        <div class="worksAreaHead">
            <a href="#" class="backButton" onClick="history.back(); return false;"><i class="fa-solid fa-arrow-left"></i></a>
            <p class="englishTitle">Works</p>
            <p class="japaneseTitle">制作実績</p>
        </div>

        <div class="sliderArea">
            <div class="worksLists">
                <div class="workList">
                    <a href="/works/kankan">
                        <img src="../static/image/kankan.png" alt="菅叶和｜かんかんな｜KanKanna｜kankanna｜かんかん｜KanKan｜kankan｜ファンサイト｜FanSite">
                        <div class="worksInfo">
                            <p class="worksTitle">FanSite - kankan</p>
                            <p class="worksDescription">女性声優として活躍されている菅叶和さんのファンサイトのデザイン、コーディングをさせていただきました。</p>
                        </div>
                        <div class="worksTag">
                            <p>自主制作</p>
                            <p>ファンサイト</p>
                        </div>
                    </a>
                </div>
                <!-- <div class="workList">
                    <a href="/works/">
                        <img src="../static/image/" alt="">
                        <div class="worksInfo">
                            <p class="worksTitle">CorporateSite - 案件名</p>
                            <p class="worksDescription"></p>
                        </div>
                        <div class="worksTag">
                            <p>実案件</p>
                            <p>コーポレートサイト</p>
                        </div>
                    </a>
                </div>
                <div class="workList">
                    <a href="/works/">
                        <img src="../static/image/" alt="">
                        <div class="worksInfo">
                            <p class="worksTitle">WebApp - 案件名</p>
                            <p class="worksDescription"></p>
                        </div>
                        <div class="worksTag">
                            <p>個人開発</p>
                            <p>ウェブアプリケーション</p>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>

{% endblock %}